@media only screen and (max-width: 600px) {
    h1 {
        font-size: 32px;
    }

    .task {
        width: 400px;
    }

    li span {
        width: 95%;
    }

    .pesquisa input {
        width: 100%;
        max-width: 320px;
    }

    body{
        padding-left: 00px;
    }
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 28px;
    }

    .task {
        width: 350px;
    }

    li span {
        width: 95%;
    }

    .pesquisa input {
        width: 100%;
        max-width: 260px;
    }

    body{
        padding-left: 100px;
    }
}
