body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/pao.no.ceu.jpg);
    outline: none;
    background-repeat: no-repeat;
    transition: 0.3;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

form {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Enviar {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.Enviar:hover {
    background-color: #0069d9;
}

ul {
    flex-direction: column;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 15px;
    background-color: white;
}

li span {
    width: 500px;
}

li button {
    background-color: rgba(255, 255, 0, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 12px;
}

li button:hover {
    background-color: #de1e31;
    color: white;
}

li button.done:hover {
    background-color: #23bb44;
}

li.done2 span {
    text-decoration: line-through;
    color: #888;
}

li.done2 span {
    text-decoration: line-through;
    color: #888;
}


.task {
    background-color: white;
    padding: 12px;
    border-radius: 13px;
    width: 550px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pesquisa {
    width: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
}

.pesquisa input {
    width: 100%;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
    border: none;
    outline: none;
    height: 20px;
}

.pesquisa button {
    border-radius: 0px 15px 15px 0px;
    padding: 15px;
    border: none;
    cursor: pointer;
    outline: none;
}

.delete {
    color: black;
}

.done {
    color: black;
}

.done2 {
    background-color: #edecec;
}

img {
    position: absolute;
    padding-right: 1000px;
    padding-top: 300px;
    animation: float 3s ease-in-out infinite;
}

.task:hover  {
    transform: scale(1.1);
}